################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/**/bin/
/**/obj
*.user
/packages
/paket-files
/.paket/paket.exe
/.paket/Paket.Restore.targets
/.idea
